.titulo{
    text-align: center;
    font-family: cursive;
    text-shadow: 2px 2px rgb(0, 225, 255);
    margin-top: 100px;
}
body{
    text-align: center;
    font-family: cursive;
    background-color: lightcyan;
}
button{
    background-color: rgb(124, 196, 255);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 247, 255);
    width: 100px;
}
.negrito{
    font-weight: bold;
}
.negritomaiusculo{
    font-weight: bold;
    text-transform: uppercase;
}